{% from 'helpers/Template.html' import StartTemplate with context %}
{{  StartTemplate(form[3]) }}
	<div class="container">
		<div class="container-form">
			<h1>Proveedores</h1>
				<input type ='hidden' id="hdnView" value="proveedores">
				<form id="form_proveedores">
				{% from 'helpers/FormsHelper.html' import generateForm with context %}
				{{ generateForm(form[0]) }}
			</form>
		</div>
		<div class="container-buttons">
			{% from 'helpers/ButtonsHelper.html' import generateButtons with context %}
			{{ generateButtons() }}
		</div>
		<div class="container-table">
			{% from 'helpers/TableHelper.html' import generateTable with context %}
			{{ generateTable(form) }}
		</div>
	</div>
{% from 'helpers/Template.html' import EndTemplate with context %}
{{ EndTemplate() }}

