{% macro generateButtons() %}
<div class="row justify-content-center">
    <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6" style="margin-top:20px;">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button type="button" id="btnRegistrar" class="btn btn-primary btn-lg">Registrar</button>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button type="button" id="btnConsultar" class="btn btn-primary btn-lg">Consultar</button>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button type="button" id="btnModificar" class="btn btn-primary btn-lg">Modificar</button>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button type="button" id="btnEliminar" class="btn btn-primary btn-lg">Eliminar</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}