{% macro generateTable(data) %}
    {% if form[2] > 0 %}
        <input type = "hidden" id="data_sel" value="">
        <input type = "hidden" id="row_sel" value="">
        <table id="info-table" class="table table-striped table-bordered" style="width:100%">
            <thead id="thead-table">
                    <tr>
                        <th style="text-align:center; font-family: 'Montserrat';"></th>
                        <th style="text-align:center;  font-family: 'Montserrat';">Id</th>
                        {% for field in form[0] %}
                            {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField'%}
                                <th style="text-align:center; font-family: 'Montserrat';">{{ field.label }}</th>
                            {% endif %}
                        {% endfor %}
                        <th style="text-align:center;  font-family: 'Montserrat';">Fecha Reg.</th>
                    </tr>
            </thead>
            <tbody id="tbody-table">
                    {% for field in form[1] %}
                    <tr style="text-align:center; font-family: 'Montserrat';">
                         {% for i in range(form[2]) %}
                                {% if i == 0%}
                                    <td style="text-align:center; font-family: 'Montserrat';">
                                     <input class="selected form-check-input"
                                            type="checkbox"
                                            name="chxSeleccion_{{field[0]}}"
                                            id="chxSeleccion_{{field[0]}}"
                                            onclick="cbxAnalyze({{field[0]}})">
                                    </td>
                                {% else%}
                                    <td style="text-align:center; font-family: 'Montserrat';">{{field[i-1]}}</td>
                                {% endif %}
                         {% endfor %}
                        </tr>
                    {% endfor %}
            </tbody>
            <tfoot id="tfoot-table">
                    <tr>
                        <th style="text-align:center; font-family: 'Montserrat';"></th>
                        <th style="text-align:center;  font-family: 'Montserrat';">Id</th>
                        {% for field in form[0] %}
                            {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField'%}
                                <th style="text-align:center; font-family: 'Montserrat';">{{ field.label }}</th>
                            {% endif %}
                        {% endfor %}
                        <th style="text-align:center; font-family: 'Montserrat';">Fecha Reg.</th>
                    </tr>
            </tfoot>
        </table>
    {% else %}
    <div class="container-no-data">
        <span>No hay información para mostrar</span>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#info-table').DataTable();
        } );
    </script>
    {% endif %}
{% endmacro %}